.aboutmain {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headshot {
  margin-top: 4vh;
  width: 30%;
  border-radius: 50%;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.5);
}

.description {
  width: 50%;
  font-size: 30px;
  margin-top: 30px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.logos > img {
  width:40px
}