.container {
  width: 90vw;
  display: flex;
  flex-direction:column ;
  background-color: #B2B3A7;
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.5);
  justify-content: center;
  margin: auto; 
  text-align: center;
}

@media only screen and (min-width:900px){
  .container{
    width: 45vw;
    margin: 20px 0 0 20px;
  }
}
section {
  width: 80%
}

.screenshot {
  height: 60vh;
  margin: 2vh;
}

.container:hover {
  background-color: #84857b;
}



.techLogo {
  width: 50px;
}