body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A6A294;
  color:#0A0908;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  --bs-navbar-nav-link-padding-x: 10vw;
}

a {
  color: #251F18;
}

a:link {
  text-decoration: none;
}